<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>起点中文网_阅文集团旗下网站</title>
    <link rel="icon" href="../public/img/logo_head.png" type="image/x-icon" />
    <link rel="stylesheet" href="../public/css/iconfont.css">
    <link rel="stylesheet" href="../public/css/centertopcss.css">
</head>

<body>
    <div id="wrap" class="wrap">
        <div class="top-nav">
            <div class="box-center cf">
                <div class="nav-link fl">
                    <a class="checked cb" href="#">起点中文网</a>
                    <a href="#">起点女生网</a>
                    <em>|</em>
                    <a href="#">创世中文网</a>
                    <em>|</em>
                    <a href="#">云起书院</a>
                    <em>|</em>
                    <a href="#">繁体版</a>
                </div>
                <div class="login-box fr">

                    <div class="sigin-in disnone">
                        <a></a>
                        <em>|</em>
                        <a class="zhuce" href="/loginout">注销</a>
                    </div>
                    <div class="sigin-out">
                        <a class="denglu cb" onclick="logintap()" href="#">登录</a>
                        <em>|</em>
                        <a class="zhuce" href="/register">注册</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-wrap box-center">
            <div class="box-center cf">
                <div class="logo fl">
                    <a href="#"></a>
                </div>
                <div class="search-wrap fl cf">
                    <input class="fl" type="text" name="kw" placeholder="诸天剧透群">
                    <div class="select fl"><span class="top5 iconfont icon-fangdajing"></span></div>
                </div>
                <div class="book-shelf fr">
                    <a href="#">
                        <i><span class="top5 iconfont icon-shujia"></span>我的书架</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-nav-warp">
            <div class="main-nav box-center cf">
                <ul>
                    <li class="first">
                        <span class="zuoping">
                            <span class="top5 iconfont icon-leimupinleifenleileibie"></span>
                            <span class="zuopingall">作品分类</span>
                        </span>
                    </li>
                    <li class="nav-li"><a href="#">全部作品</a></li>
                    <li class="nav-li"><a href="#">排行</a></li>
                    <li class="nav-li"><a href="#">完本</a></li>
                    <li class="nav-li"><a href="#">免费</a></li>
                    <li class="nav-li"><a href="#">作家专区</a></li>
                    <li class="nav-li"><a href="#">
                            <span class=" iconfont icon-shouji"></span>
                            客户端</a>
                    </li>
                    <li class="game phone"><a href="#">
                            <span class="iconfont icon-shubiao"></span>
                            手游
                        </a>
                    </li>
                    <li class="game web"><a href="#">
                            <span class="iconfont icon-shoubing"></span>
                            页游</a></li>
                </ul>
            </div>
        </div>
        <div class="foucus-wrap box-center mb40 cf">
            <div class="classify-list fl">
                <dl class="cf">
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-xuanhuan"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-qihuan"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-wuxia"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-xianxia"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-dushi"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-xianshi"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-junshi"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-lishi-copy"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-youxi"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-tiyu"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-kehuan"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-xuanyilingyi"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-nvsheng"></span></em>
                            </div>
                        </a>
                    </dd>
                    <dd class="fl">
                        <a href="#">
                            <div class="cite">
                                <em><span class=" iconfont icon-xiaoshuo"></span></em>
                            </div>
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="focus-box fl">
                <div class="focus-slider">
                    <div class="lbf-slides">
                        <ul>
                            <li><img src="../public/img/lunbotu/lunbo.jpg" alt=""></li>
                            <li><img src="../public/img/lunbotu/lunbo.jpg" alt=""></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="focus-img cf">
                    <ul>
                        <li>
                            <span class="op-tag"></span>
                            <a href="#">
                                <img src="../public/img/img-0.png" alt="">
                            </a>
                        </li>
                        <li>
                            <span class="op-tag"></span>
                            <a href="#">
                                <img src="../public/img/img-1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <span class="op-tag"></span>
                            <a href="#">
                                <img src="../public/img/img-2.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="notice-warp fr">
                <div class="notice">
                    <h3>
                        <a class="redhover" href="##">我吃西红柿新书来袭</a>
                    </h3>
                    <div class="notice-list">
                        <ul>
                            <li>
                                <a class="redhover" href="#">
                                    <i>[</i>资讯<i>]</i>西安站星学院开班啦
                                </a>
                            </li>
                            <li>
                                <a class="redhover" href="#">
                                    <i>[</i>公告<i>]</i>暑期防骗支招！
                                </a>
                            </li>
                            <li>
                                <a class="redhover" href="#">
                                    <i>[</i>资讯<i>]</i>举报志愿者招募
                                </a>
                            </li>
                            <li>
                                <a class="redhover" href="#">
                                    <i>[</i>资讯<i>]</i>网络文学优秀作品联展
                                </a>
                            </li>
                            <li>
                                <a class="redhover red" href="#">
                                    <em>页游</em>机甲三国之平行宇宙
                                </a>
                            </li>
                            <li>
                                <a class="redhover red" href="#">
                                    <em>页游</em>老天问我何独秀
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="attention">
                        <em><span class="top5 iconfont icon-2"></span></em>
                        <div class="publicity">
                            <div class="publicityspan" onmousemove="stop()" onmouseout="start()">
                                <a href="#">康叔only打赏前任无双100W点卷!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notice-bannner">
                    <span class="op-tag"></span>
                    <a href="#">
                        <img src="../public/img/img-3.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="index-two-warp box-center mb40 cf">
            <div class="book-list-warp mr30 fl">
                <h3 class="waro-title">
                    本周强推<a class="more" href="#">更多</a>
                </h3>
                <div class="booklist">
                </div>
            </div>
            <div class="edit-rec-warp fl">
                <h3 class="wrap-title">编辑推荐</h3>
                <div class="focus-today cf">
                    <div class="slider-wrap fl">
                        <div class="carousel">
                            <div class="sliders">
                                <div class="slideItem" data-rid="1">
                                </div>
                                <div class="slideItem" data-rid="2">
                                </div>
                                <div class="slideItem" data-rid="3">
                                </div>
                                <div class="slideItem" data-rid="4">
                                </div>
                                <div class="slideItem" data-rid="5">
                                </div>
                            </div>
                            <div class="description">
                                <div class="desc-wrap">
                                </div>
                                <div class="desc-wrap">
                                </div>
                                <div class="desc-wrap">
                                </div>
                                <div class="desc-wrap">
                                </div>
                                <div class="desc-wrap">
                                </div>
                            </div>
                            <div class="nextbutton iconfont" onclick="lunboone(1)">1</div>
                            <div class="prevbutton iconfont" onclick="lunboone(-1)">5</div>
                            <div class="buttonnav">
                                <div class="bullet" onclick="lunboto(1)"></div>
                                <div class="bullet" onclick="lunboto(2)"></div>
                                <div class="bullet" onclick="lunboto(3)"></div>
                                <div class="bullet" onclick="lunboto(4)"></div>
                                <div class="bullet" onclick="lunboto(5)"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="eit-rec">
                    <ul class="eit-rec-list cf">
                    </ul>
                    <div class="rel">
                        <p class="line"></p>
                    </div>
                    <ul class="eit-rec-list cf">
                    </ul>
                    <div class="edit-rec-img-list cf">
                        <div class="rec-img-list fl">
                            <div class="rec-img-list-box">
                                <div class="box-info">
                                    <h3><a href="#">奋斗在美漫世界</a></h3>
                                    <div>带着DNF神枪手转职证明，穿越美漫世界</div>
                                </div>
                                <div class="book-img">
                                    <a href="#">
                                        <img src="../public/img/centerview/奋斗在美漫世界.jpg" alt="tupian">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="rec-img-list fl">
                            <div class="rec-img-list-box">
                                <div class="box-info">
                                    <h3><a href="#">洪荒历</a></h3>
                                    <div>就算身如蝼蚁又如何，哪怕牺牲千万，吾人族也要在这洪荒中开天辟地</div>
                                </div>
                                <div class="book-img">
                                    <a href="#">
                                        <img src="../public/img/centerview/洪荒纪.jpg" alt="tupian">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-list-warp fr">
                <h3 class="waro-title">
                    本周强推<a class="more" href="#">更多</a>
                </h3>
                <div class="booklist">
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="box-center">
                <div class="footer-text">
                    <p>上海网警提示：网络刷单是违法 切莫轻信有返利，网上交友套路多 卖惨要钱需当心，电子红包莫轻点 个人信息勿填写，仿冒客服来行骗 官方核实最重要，招工诈骗有套路 预交费用需谨慎，低价充值莫轻信
                        莫因游戏陷套路，连接WIFI要规范 确认安全再连接，抢购车票有章法 确认订单再付款，白条赊购慎使用 提升额度莫轻信，网购预付有风险 正规渠道很重要 如网民接到962110电话，请立即接听。
                    </p>
                </div>
                <div class="friend-link">
                    <em>
                        <a href="#">阅文集团</a><cite>旗下网站：</cite>
                    </em>
                    <a href="#">起点中文网</a>
                    <a href="#">起点女生网</a>
                    <a href="#">创世中文网</a>
                    <a href="#">云起书院</a>
                    <a href="#">红袖添香</a>
                    <a href="#">小说阅读网</a>
                    <a href="#">言情小说吧</a>
                    <a href="#">潇湘书院</a>
                    <a href="#">天方听书网</a>
                    <a href="#">懒人听书</a>
                    <a href="#">阅文悦读</a>
                    <a href="#">QQ阅读</a>
                    <a href="#">起点读书</a>
                    <a href="#">作家助手</a>
                    <a href="#">起点国际版</a>
                </div>
                <div class="link">
                    <a href="#">关于我们</a>
                    <a href="#">联系我们</a>
                    <a href="#">加入我们</a>
                    <a href="#">客服中心</a>
                    <a href="#">提交建议</a>
                    <a href="#">举报中心</a>
                </div>
                <p>Copyright (C) 2002-2019 www.qidian.com All Right Reserved版权所有 上海玄霆娱乐信息科技有限公司</p>
                <p>上海玄霆娱乐信息科技有限公司 增值电信业务经营许可证沪B2-20080046 沪网文[2012]0068-008 新出网证（沪）字010 沪ICP备08017520号-1</p>
                <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！客服电话：010-59357051</p>
                <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关</p>
                <div class="safety-box">
                    <div class="safety-img dib-wrap">
                        <a class="site1" href=""></a>
                        <a class="site2" href=""></a>
                        <a class="site3" href=""></a>
                        <a class="site4" href=""></a>
                        <a class="site5" href=""></a>
                        <a class="site6" href=""></a>
                        <a class="site7" href=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pin-nav">
        <div class="box-center cf">
            <div class="nav-list site-nav fl">
                <ul>
                    <li class="site">
                        <a class="pin-logo" href="">
                            <span class="sanjiaospan"></span>
                        </a>
                        <div class="dropdown">
                            <a href="#">起点女生网</a>
                            <a href="#">创世中文网</a>
                            <a href="#">云起书院</a>
                        </div>
                    </li>
                    <li><a href="#">玄幻</a></li>
                    <li><a href="#">都市</a></li>
                    <li><a href="#">仙侠</a></li>
                    <li><a href="#">科幻</a></li>
                    <li><a href="#">游戏</a></li>
                    <li><a href="#">历史</a></li>
                    <li><a href="#">排行</a></li>
                    <li class="getmorebook">
                        <a href="#">更多<span class="sanjiaospan ml10"></span></a>
                        <div class="dropdown">
                            <a href="#">全部小说</a>
                            <a href="#">轻小说</a>
                            <a href="#">奇幻</a>
                            <a href="#">武侠</a>
                            <a href="#">悬疑</a>
                            <a href="#">军事</a>
                            <a href="#">现实</a>
                            <a href="#">体育</a>
                            <a href="#">短篇</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-list min-nav fr">
                <ul class="cf">
                    <li class="min-search">
                        <div class="selectbot">
                            <span class="iconfont icon-fangdajing"></span>
                        </div>
                        <input type="text" placeholder="请输入书本名称">
                    </li>
                    <li class="line"></li>
                    <li class="sign-out">
                        <a href="#" onclick="logintap()">登录</a>
                        <a href="/register">注册</a>
                    </li>
                    <li class="sign-in">
                        <a></a>
                        <em>|</em>
                        <a class="zhuce" href="/loginout">注销</a>
                    </li>
                    <li class="line"></li>
                    <li class="topbook-shelf">
                        <a href="#"><span class="iconfont icon-shujia"></span> 我的书架</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="mask disnone"></div>
    <div class="qdlogin-wrap disnone">
        <div class="login-wrap">
            <div class="close" onclick="closelogin()">X</div>
            <div class="login-tab cf">
                <ul>
                    <li class="act">账号登陆</li>
                    <li>QQ登录</li>
                    <li>微信登录</li>
                </ul>
            </div>
            <div class="login-switch-wrap">
                <div class="login-tap-wrap">
                    <div class="login-box-wrap">
                        <div class="mylogin-box YW-login">
                            <div class="web-loginwrap">
                                <div class="login-mode">
                                    <div class="err-tip disnone">账号或者密码输入错误</div>
                                    <dl>
                                        <dd>
                                            <em class="inconfont"></em>
                                            <input type="text" id="username" placeholder="手机/邮箱/用户名">
                                        </dd>
                                        <dd>
                                            <em class="inconfont"></em>
                                            <input type="password" id="passworld" placeholder="密码">
                                        </dd>
                                    </dl>
                                    <div class="login-common-wrap">
                                        <div class="auto-login-box cf">
                                            <div class="fr">
                                                <a href="#">忘记密码？</a>
                                            </div>
                                        </div>
                                        <a class="red-btn go-login" onclick="gologin()">登录</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mylogin-box QQ-login disnone"></div>
                        <div class="mylogin-box WX-login disnone"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="editform" action="postServlet2" method="post">
    </form>



    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/centermain.js"></script>
    <script>

        var peopleviews = "<%= people %>";
        var peopleview = {};
        var peopleviews = peopleviews.replace(/&#34;/g, '');
        var peopleviews = peopleviews.replace('}]', '');
        var peopleviews = peopleviews.replace('[{', '');
        var peopleviews = peopleviews.split(',');
        for (var i = 0; i < peopleviews.length; i++) {
            peopleviews[i] = peopleviews[i].split(':');
            peopleview[peopleviews[i][0]] = peopleviews[i][1];
        }
        var singin = document.querySelector('.sigin-in');
        var singout = document.querySelector('.sigin-out');
        var signout = document.querySelector('.sign-out');
        var signin = document.querySelector('.sign-in');
        if (peopleviews[0] != '') {
            singout.classList.add('disnone');
            singin.classList.remove('disnone');
            signout.classList.add('disnone');
            signin.classList.remove('disnone');
            var singinname = document.querySelector('.sigin-in a');
            singinname.innerHTML = `你好${peopleview.username}`;
            var signinname = document.querySelector('.sign-in a');
            signinname.innerHTML = `你好${peopleview.username}`;
        } else {
            singout.classList.remove('disnone');
            singin.classList.add('disnone');
            signout.classList.remove('disnone');
            signin.classList.add('disnone');
        }
    </script>
</body>

</html>